name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write  # Required for OIDC
  contents: write   # needed so changesets can push release PRs
  pull-requests: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout Repo
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Setup Node.js environment
        uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3.7.0
        with:
          node-version-file: ".node-version"
          cache: "yarn"

      # Upgrade npm since trusted publishing requires npm CLI version 11.5.1 or later. 
      - name: Upgrade npm
        run: npm install -g npm@^11.5.1

      - name: Install dependencies
        run: yarn

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba
        with:
          version: yarn version
          publish: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Fix until https://github.com/changesets/action/pull/545 is merged and released.
          # More context: https://github.com/changesets/action/issues/542
          NPM_TOKEN: ''
          NPM_CONFIG_PROVENANCE: true
